<!DOCTYPE html>
<html>
  <head>
      <title>Pagina do Ademir</title>
   </head>
  <body>
    <h1> 
       Ademir Inacio Gonçalves
    </h1>
    <a href="/about"> Clicar aqui</a>
    <img src="https://s1.static.brasilescola.uol.com.br/be/2020/06/oceano.jpg"
    height="600px"
    width="1200px"
    alt="Oceano Atlântico"/>

   <p>Welcome to - bem vindo</p>
   <p>
      Meu nome é: <strong>Ademir</strong>
      <br>
      idade: <strong>10</strong>
      <br>
      Estado civil: <strong>Largado</strong>
   </p>
      <h3>Qualidades</h3>
<!-- ul = unordred - lista não ordenada-> -->
<ul>
<li>Sou muito bonito</li>
<li>Sou muito inteligente</li>
<li>Sou sábio</li>
</ul>
<!-- ol = ordered - lista ordenada -->
<ol>
<li>Sou Engenheiro de Produção</li>
<li>Sou técnico em mecânica</li>
<li>Sou full stack</li>
</ol>
<br>
   <!-- starte ou type para escolher como iniciar e o formato -->
   <ol start="10" >
   <li>Sou Engenheiro de Produção</li>
   <li>Sou técnico em mecânica</li>
   <li>Sou full stack</li>
   </ol>
   

   <ol type="A" >
      <li>Sou Engenheiro de Produção</li>
      <li>Sou técnico em mecânica</li>
      <li>Sou full stack</li>
      </ol>




    </body>
</html>




<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to e bem vindo <%= title %></p>
    <% products.forEach(function(product) { %>
       nome: <%= product.name %>
    <br/>
       tipo: <%= product.type %>
    <br/> 
       Numero: <%= product.id %>
       <% }) %>
</body>
</html> -->